@import "../../css_config/mixins.scss";

.single-page-projects {
  margin-top: 90px;
  padding: 0 20px;
  min-height: 50vh;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-black);
  .heading {
  border-bottom: 2px solid var(--text-black);
    text-align: center;
    width: 100%;
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    opacity: 0;
    transition: 1s;
    &:hover {
      color: var(--red);
    }
  }
}