@import "../../css_config/mixins.scss";

.header {
  position: fixed;
  top: 0%;
  transform: translateY(0);
  width: 100%;
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 2;
  &.top {
    background: var(--action);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background-color: var(--action);
  }
  &.hide {
    transform: translateY(-60px);
  }

  .contentWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    img {
      width: 150px;
      height: 80px;
    @include md {
      width: 250px;
      height: 100px;
    }
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    align-items: center;
    @include md {
      display: flex;
    }
    .menuItem {
      color: var(--text-white);
      font: bold;
      height: 60px;
      display: flex;
      align-items: center;
      margin: 0 15px;
      font-size: 18px;
      text-decoration: none;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      opacity: 0;
      animation: slideTop 0.5s ease forwards;
      &:hover {
        color: var(--text-black);
      }
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 20px;
    @include md {
      display: none;
    }
    i {
      font-size: 18px;
      color: var(--text-white);
    }
  }

  &.mobileView {
    background: var(--action);
    .menuItems {
      display: flex;
      position: absolute;
      top: 60px;
      left: 0;
      background: var(--action);
      flex-direction: column;
      width: 100%;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      .menuItem {
        font-size: 15px;
        width: 100%;
        height: auto;
        padding: 5px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
