
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --lightgray: #2d2d44;
  --darkgray: #1e1e2c;
  --red: #45e3ff;
  --pink: #f24171;
  --text-white: #fefefe;
  --text-black: #010101;
  --background-main: #fefefe;
  --background-second: #F8F8FF;
  --background-third: #f5f5f5;
  --action: #a163f7;
  --border: #45e3ff;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background: var(--background-main);
  color: var(--text-black);
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
}

// animations

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes introSlideTop {
  0% {
    transform: translateY(0);
    opacity: 1
  }
  100% {
    transform: translateY(-100%);
    opacity: 1
  }
}